.header {
    height: 80px;
    background-color: rgb(85, 85, 85);
    color: white;

    display: flex;
    align-items: center;
    padding: 0 50px;
    color: white;
    font-size: 2.5vw;
}

.header ul {
    display: flex;
    gap: 40px;
}